Puteh System is working and she is very happy

Parantethis = ()
Bracket = []
Curly Bracket = {}
colon = :
Semi colon = ;
Hashtag = #
Dollor sign = $

In [9]:
# This code is to show the mood of Puteh
print("Happy Puteh")

print("Hello Puteh")

Happy Puteh
Hello Puteh

In [10]:
3+4

7

In [11]:
(3+4)*9

63

In [12]:
name = "Puteh"
print(name)

Puteh

In [18]:
i = 5
j = 6
p = i * j
print(p, i)

30 5

Print your name, the age, your work experience and the coffee fee

Coffee fee is calculation:
added 6% at top of the coffe which is worth 13.54 RM

Three kind of common variable naming

Camel Case = coffeeFeeTax
Snake case = coffee_fee_tax
Capital case = CoffeeFeeTax

In [29]:
a = 10
b =  2
c = a*b
d = a**b
e = c/d
f = d/c
print(c, d)
print(a%b)
print(e)
print(e%a)
print(f)
print(f%2)

20 100
0
0.2
0.2
5.0
1.0

Calculate the area of rectangle (length * width)
width = 12.3
length = 4
Finder remainder divided by 4

In [35]:
# If and else statement

age = -10

if age >= 34:
    print("You are still young")
elif age <= 33:
    print("Too young come back later")
else:
    print("life is good")

Too young come back later

Latte has 120 calories, and Americano has just 25 calories, create a statement, which if Henry is 90+ KG he can just have Americano, if he is bellow 80 KG he can have Latter and if he is in between, he can choose whatever he wants

In [9]:
henry_weight = 100
henry_height = 190

if (henry_weight<=89 and henry_weight>=80):
    print("Proper choice is Cuppocino")
    
elif (henry_weight>=101 or henry_height<=180):
    print("Too fat have just Americano")

elif (henry_height<=200 and henry_weight>95):
    print("Drink Latte")
else:
    print("Drink whatever you want")

Drink Latte

Adjust the tempreture of the room. If the tempreture is between 22 to 25, the room is comfortable, if the tempreture is above 25, it is too hot and if its below 22 it is very cold.

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
count = 0
while count<5:
    print(count)
    count+=0.5

0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5

1.	Write a loop to print numbers from 1 to 10.
2.	Create a loop that prints even numbers from 2 to 20.

In [13]:
names = ["Afeeq", "Iman", "Puteh"]

# for name in names:
#     print(name)

# print (names[0])

names.append("Oscar")
print(names)

['Afeeq', 'Iman', 'Puteh', 'Oscar']

In [19]:
names = [
    ["Afeeq", "Iman", "Athira"],
    ["Oscar", "Aqil", "Hakim"],
    ["Oscar the great", "Puteh", "Hitam"]
]
# print(names[2][1])

for i in names:
    for name in i:
        print(name)

Afeeq
Iman
Athira
Oscar
Aqil
Hakim
Oscar the great
Puteh
Hitam

Create Matrix with 12 cars, then print it is very expensive if the output is Porche, if the output is Proton, Prudua, and Toyota the output is affordable, otherwise the output is middle price range

In [21]:
cars = [
    ["Porche", "BMW", "Masserati"],
    ["Proton", "Jaguar", "Nissan"],
    ["Prudua", "Toyota", "Ford"],
    ["Lambo", "Honda", "Kia"]
]

for i in cars:
    for car in i:
        if(car == "Porche"):
            print("The ", car, " is too expensive")
        elif(car == "Prudua" or car == "Proton" or car == "Toyota"):
            print("The ", car ," is affordable")
        else:
            print("The ", car, " is middle range price")

The  Porche  is too expensive
The  BMW  is middle range price
The  Masserati  is middle range price
The  Proton  is affordable
The  Jaguar  is middle range price
The  Nissan  is middle range price
The  Prudua  is affordable
The  Toyota  is affordable
The  Ford  is middle range price
The  Lambo  is middle range price
The  Honda  is middle range price
The  Kia  is middle range price

In [31]:
name = "Athirah"
age = 25
student = [{"name":"Athirah", "age":25 , "car":"Mustang"},{"name":"Little Athirah", "age":5 , "car":"Toy"}]
print(student[1])

{'name': 'Little Athirah', 'age': 5, 'car': 'Toy'}

Create 3 dictionaries with at least 3 set of parameters, each contains:
age, perfect gift for that age, and birthday date
If the person is over 34 shows the age
If person is below 15 shows the date
if the person is between 15 to 34 shows the birthday gift

In [36]:
athiras = [
            {"age":5, "gift": "Barbie", "DOB": "15/02/2020"},
            {"age":24, "gift": "Mustang", "DOB": "15/02/2001"},
            {"age":34, "gift": "Handbag", "DOB": "15/02/1991"}
          ]
for i in athiras:
    if(i["age"]>=34):
        print("She is ", i["age"], " years old")
    elif(i["age"]>=15 and i["age"]<=33):
        print("Danger Athira wants to drive ", i["gift"])
    elif(i["age"]<=14):
        print("She was born in ", i["DOB"])

She was born in  15/02/2020
Danger Athira wants to drive  Mustang
She is  34  years old

In [41]:
def greet(name):
    return f"Hello, {name}!"
    
print(greet("Athirah"))
print(greet("Oscar"))
print(greet("Afiq"))

def add(a, b):
    return a + b

print(add(10, 5))
print(add(20, 5))

Hello, Athirah!
Hello, Oscar!
Hello, Afiq!
15
25