In [11]:
import numpy as np
#import numpy

In [12]:
a1 = np.array([1,2,3])
print(a)

[1 2 3]

In [13]:
a1.dtype

dtype('int64')

In [14]:
a = np.array([1,2,3], dtype='int16')
print(a1)

[1 2 3]

In [19]:
a.dtype

dtype('int16')

In [16]:
b = np.array([[9.0, 8.0, 7.0],[6.0, 5.0, 4.0]], dtype='int16' )
print(b)

[[9 8 7]
 [6 5 4]]

In [17]:
b.ndim

2

In [20]:
b.shape

(2, 3)

In [23]:
b.itemsize

2

Create a 3 dimentional array using numpy in the 32 bit format, take the shape, the dimention, and the type

a = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]], dtype="int16")
print(a)

In [28]:
a[1,5]

np.int16(13)

In [29]:
a[0, :]

array([1, 2, 3, 4, 5, 6, 7], dtype=int16)

In [30]:
a[:, 3]

array([ 4, 11], dtype=int16)

In [33]:
output = a[0, 1:-1:2]
print(output)

[2 4 6]

Create a 2 dimentional array for the first row it has to be 0-14 and second row its going to be 15-29, print every 3 numbers from second row

In [34]:
b = np.array([[[1,2],[3,4]],[[5,6],[7,8]]])
print(b)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [35]:
b[0,1,1]

np.int64(4)

In [37]:
# Replace
b[:,1,:]=[[9,9],[10,10]]
print(b)

[[[ 1  2]
  [ 9  9]]

 [[ 5  6]
  [10 10]]]

Make 3D arrays, which each array has 8 numbers with at least 3 rows, change the third rows to 602 and 702

In [38]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [40]:
np.ones((2,3), dtype="int16")

array([[1, 1, 1],
       [1, 1, 1]], dtype=int16)

In [44]:
np.full((2,2), 99 , dtype="float32")

array([[99., 99.],
       [99., 99.]], dtype=float32)

In [45]:
np.full_like(a,4)

array([[4, 4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4, 4]], dtype=int16)

In [46]:
np.full(b.shape, 4)

array([[[4, 4],
        [4, 4]],

       [[4, 4],
        [4, 4]]])

Make two dimentaional arrays, all begin with 0 and the array is going to be 5*5 then change it to all the number to 702

In [47]:
np.random.rand(4,2)

array([[0.16729457, 0.72901302],
       [0.7101784 , 0.18617449],
       [0.56448761, 0.26625786],
       [0.21340637, 0.31350323]])

In [49]:
np.random.randint(-4,8, size=(3,3,2))

array([[[-4,  0],
        [-4,  6],
        [-2, -2]],

       [[ 7,  5],
        [ 6,  4],
        [-4,  3]],

       [[ 7, -4],
        [-4, -4],
        [-3,  1]]], dtype=int32)

In [50]:
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [57]:
arr = np.array([[1,2,3]])
r1 = np.repeat(arr, 3, axis=0)
print(r1)

[[1 2 3]
 [1 2 3]
 [1 2 3]]

In [58]:
z = np.zeros((3,3), dtype="int16")
print(z)

[[0 0 0]
 [0 0 0]
 [0 0 0]]

In [65]:
out = np.ones((5,5))
print(out)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [66]:
z[1,1]=9
print(z)

[[0 0 0]
 [0 9 0]
 [0 0 0]]

In [64]:
out[1:-1,1:-1] = z
print(out)

[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 9. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

In [67]:
a = np.array([1,2,3])
b = a.copy()
b[0] = 100
print(a)
print(b)

[1 2 3]
[100   2   3]

Create a 2 dimentaional array with 15 numbers all 14, and make another 2 dimentional array with 9 numbers all 702 and make a copy from the array with 15 numbers, change the 9 numbers in the copied arry with the array which has 9 numbers

In [68]:
a = np.array([1,2,3,4])
print(a+2)

[3 4 5 6]

In [69]:
print(a-2)
print(a*2)
print(a/2)

[-1  0  1  2]
[2 4 6 8]
[0.5 1.  1.5 2. ]

In [71]:
b = np.array([1,0,1,0])
print(a+b)

[2 2 4 4]

In [72]:
a **2

array([ 1,  4,  9, 16])

In [73]:
np.sin(a)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [74]:
np.cos(a)

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362])

For the full math function in numpy you can check this link:

https://numpy.org/doc/2.1/reference/routines.math.html

In [75]:
a = np.ones((2,3))
print(a)

[[1. 1. 1.]
 [1. 1. 1.]]

In [76]:
b = np.full((3,2), 2)
print(b)

[[2 2]
 [2 2]
 [2 2]]

In [77]:
np.matmul(a,b)

array([[6., 6.],
       [6., 6.]])

In [78]:
c = np.identity(3)
np.linalg.det(c)

np.float64(1.0)

Statisctics

In [81]:
stats = np.array([[1,2,3],[4,5,6]])
print(stats)

[[1 2 3]
 [4 5 6]]

In [89]:
amin = np.min(stats)
amax = np.max(stats, axis=1)
asum = np.sum(stats)
asumaxis = np.sum(stats, axis=0)
print(amin)
print(amax)
print(asum)
print(asumaxis)

1
[3 6]
21
[5 7 9]

In [90]:
before = np.array([[1,2,3,4], [5,6,7,8]])
print(before)

[[1 2 3 4]
 [5 6 7 8]]

In [91]:
after = before.reshape((2,2,2))
print(after)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

Create 3*4, two dimentional arrays with a random numbers, get minimum, maximum and sum of second axis and then reshape it to 3D arrays

In [92]:
v1 = np.array([1,2,3,4])
v2 = np.array([5,6,7,8])
np.vstack([v1,v2,v1,v2])

array([[1, 2, 3, 4],
       [5, 6, 7, 8],
       [1, 2, 3, 4],
       [5, 6, 7, 8]])

In [93]:
h1 = np.ones((2,4))
h2 = np.zeros((2,2))
np.hstack((h1,h2))

array([[1., 1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0., 0.]])

In [94]:
file_data = np.genfromtxt('data.txt', delimiter=',')
flie_data = file_data.astype('int32')
print(file_data)

[[  1.  13.  21.  11. 196.  75.   4.   3.  34.   6.   7.   8.   0.   1.
    2.   3.   4.   5.]
 [  3.  42.  12.  33. 766.  75.   4.  55.   6.   4.   3.   4.   5.   6.
    7.   0.  11.  12.]
 [  1.  22.  33.  11. 999.  11.   2.   1.  78.   0.   1.   2.   9.   8.
    7.   1.  76.  88.]]